:root {
  --home-heading: 64px;
  --heading-1: 56px;
  --heading-2: 48px;
  --heading-3: 28px;
  --heading-4: 20px;
  --heading-5: 14px;
  --heading-6: 12px;

  --yellow: #f2c94c;
  --light-yellow: #fcedc6;
  --light-blue: #eff7f2;
  --black: #0b0706;
  --dark-gray: #1d2130;
  --light-gray: #e5e5e5;
  --gray: #525560;
  --white: #ebf0f9;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  max-width: 635px;
  font-size: var(--heading-2);
  font-weight: 700;
  color: var(--dark-gray);
  margin-bottom: 32px;
}

.subtitle {
  margin-bottom: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    width: 72px;
    height: 2px;
    position: absolute;
    left: -96px;
    top: 8px;
    background-color: var(--dark-gray);
  }
}

.header__inner {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 44;
  cursor: pointer;
}

.logo-letter {
  font-style: italic;
  font-weight: 400;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu__item {
}

.menu__link {
  color: inherit;
  font-weight: 500;
}

.donate-btn {
  padding: 12px 32px;
  background-color: var(--dark-gray);
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
}

/* hero */

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__inner {
  padding: 128px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  font-weight: 700;
  font-size: var(--home-heading);
  color: #fff;
  max-width: 640px;
  margin-bottom: 48px;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #fff;
  margin-bottom: 192px;
}

.button-box__left-btn {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #fff;
  color: var(--dark-gray);
  font-weight: 500;
}

.button-box__right-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.hero__bottom {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.hero__line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--light-gray);
}

/* about */

.about__inner {
}

.about__top {
  margin-bottom: 64px;
  padding-top: 86px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__left-column {
  padding-left: 100px;
  width: 710px;
}

.about__right-column {
  position: relative;
}

.about__bottom {
  padding-bottom: 74px;
}

.about__text {
  margin-bottom: 32px;
}

.about__text + .about__text {
  margin-bottom: 48px;
}

.learn-more {
  margin-bottom: 30px;
  padding: 16px 32px;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--yellow);
}

.about__img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.about__bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.about__bottom-title {
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about__bottom-line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--light-gray);
}

.about__logo-box {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

/* what we do */

.what-we-do {
  background-color: var(--light-yellow);
}

.what-we-do__inner {
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.what-we-do__box {
  padding-left: 100px;
  width: 700px;
}

.what-we-do__text {
  color: var(--gray);
  margin-bottom: 32px;
}

.what-we-do__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.what-we-do__item {
  width: 436px;
  padding-left: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
    background-color: var(--light-gray);
  }
}

.what-we-do__item + .what-we-do__item {
  padding-top: 24px;
}

.what-we-do__item:first-child svg {
  position: absolute;
  top: 0;
  left: 0;
}

.what-we-do__item + .what-we-do__item svg {
  position: absolute;
  top: 24px;
  left: 0;
}

.what-we-do__item-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}
.what-we-do__item-text {
  color: var(--gray);
}

.what-we-do__img {
}

/* projects */

.projects__inner {
  padding: 96px 0;
}

.projects__box {
  padding-left: 100px;
}

.projects__card-box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
}
.projects__card {
  width: 410px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  color: #fff;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.projects__card--bg-1 {
  background-image: url("../images/what-we-do-bg-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects__card--bg-2 {
  background-image: url("../images/what-we-do-bg-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects__card--bg-3 {
  background-image: url("../images/what-we-do-bg-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects__card-title {
  font-size: var(--heading-3);
  font-weight: 700;
  margin-bottom: 16px;
  z-index: 1;
}
.projects__card-text {
  margin-bottom: 64px;
  z-index: 1;
}
.projects__card-btn {
  margin-top: auto;
  padding: 16px 32px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #fff;
  color: var(--dark-gray);
  z-index: 1;
}

/* statistic */

.statistic {
  background-color: #000;
}

.statistic__inner {
  color: #fff;
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistic__box {
  width: 635px;
}

.statistic__title {
  font-size: var(--heading-2);
  margin-bottom: 16px;
}

.statistic__text {
  opacity: 0.5;
  margin-bottom: 32px;
}

.percent__box {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
}

.percent__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.percent__color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.percent__color--green {
  background-color: #bef3c0;
}

.percent__color--purple {
  background-color: #ac94f1;
}

.percent__color--light-yellow {
  background-color: #fff0ca;
  margin-left: 20px;
}

.percent__color--yellow {
  background-color: #f9cf64;
}

.percent__color--pink {
  background-color: #f38fbf;
}

.statistic__chart {
  width: 380px;
  height: 380px;
}

/* valunteer */

.valunteer {
}

.valunteer__inner {
  padding: 96px 0 86px;
}

.valunteer__title-box {
  padding: 94px 0;
  width: 100%;
  background-image: url(../images/valunteer-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
}

.valunteer__title {
  max-width: 806px;
  font-size: var(--heading-2);
  margin-bottom: 32px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.valunteer__box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.valunteer__join-btn {
  color: #000;
  font-weight: 500;
  padding: 16px 32px;
  background-color: var(--yellow);
  border-radius: 4px;
}

.valunteer__donate-btn {
  color: #000;
  font-weight: 500;
  padding: 16px 32px;
  background-color: #fff;
  border-radius: 4px;
}

.valunteer__title-line {
  font-weight: 500;
  font-size: 40px;
  color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

.valunteer__line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--light-gray);
}

.valunteer__card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.valunteer__card {
  padding: 32px 48px 40px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-gray);
  background-color: var(--yellow);
  border-radius: 20px;
}

.valunteer__date-box {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.valunteer__date {
  font-size: 48px;
  font-weight: 500;
}

.valunteer__date-text {
  font-weight: 500;
  letter-spacing: 2px;
}

.valunteer__content-box {
  margin-left: 24px;
  margin-right: auto;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.valunteer__card-title {
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  align-self: flex-start;
  margin-bottom: 8px;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--dark-gray);
    width: 44px;
    height: 2px;
    right: -68px;
    top: 8px;
  }
}

.valunteer__card-text {
  font-size: var(--heading-3);
  font-weight: 700;
  line-height: 42px;
}

/* footer  */

.footer {
  background-color: #000;
}

.footer__inner {
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__logo {
  font-weight: 700;
  font-size: 24px;
}

.footer__logo__letter {
  font-style: italic;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__list-title {
  margin-bottom: 24px;
}

.footer__list-link {
  margin-bottom: 24px;
  font-size: 14px;
  color: inherit;
  opacity: 0.5;
}

.footer__subscribe {
  width: 544px;
  display: flex;
  flex-direction: column;
}

.footer__subscribe-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.footer__form {
  width: 100%;
  height: 64px;
  border: 1px solid rgba(235, 240, 249, 0.3);;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.footer__input {
  padding-left: 24px;
  flex-grow: 1;

  &::placeholder {
    color: #ebf0f9;
    opacity: 0.3;
  }
}

.footer__input-btn {
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  padding: 0 32px;
  border-radius: 4px;
  background-color: #fff;
  color: var(--dark-gray);
}
